.article {
  width: 80%;
  margin: 0px auto;
  padding: 150px 20px 30px 20px;
  position: relative;
}

.article > h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  padding: 30px;
  line-height: 6rem;
}

.article > p {
  text-align: right;
  padding: 30px;
  font-size: 16px;
}

.article__content {
  border-top: 1px solid grey;
  padding: 30px 5px 50px;
  margin: auto;
  font-size: 22px;
  line-height: 4.5rem;
  white-space: pre-wrap;
}

.article__content-btn{
  text-align: right;
  font-size: 18px;
  padding: 16px;
}